*{
	margin:0px;
	padding:0px;
	border:border-box;	
}
a{
	text-decoration:none;
}
.smallText{
	font-family:Amazon Ember;
	color:#cccccc;
	font-size:14px;
}
#bText{
	font-family:Amazon Ember;
	font-size:16px;
	font-weight:bold;
}

.navbar{
	height:60px;
	width:100%;
	background-color:#202525;
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	border:border-box;
}

.logo{
	height:30px;
	padding-bottom:10px;
}
.navlogo{
	height:50px;
	width:120px;
	display:flex;
	justify-content:center;
	align-items:center;
	border:border-box;
	margin:5px;

}

.deliveryText{
	margin-left:12px;
}

.delivery{
	height:50px;
	width:100px;
	border:border-box;
	padding-left:5px;
	padding-right:5px;

}

.locationLogo{
	display:flex;
	align-items:center;
	flex-wrap:nowrap;

}
.selc{
	height:40px;
	width:52px;
	border:none;
	background-color:#E8E8E8;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;

}
#btn{
	height:40px;
	width:52px;
	border:none;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	background-color:#F2AC44;
}
.allText{
	text-align:center;
}
#mText{
	font-family:Amazon Ember;
	font-size:14px;
}
.searchBar{
	display:flex;
	border:border-box;
}
#searchE{
	height:40px;
	width:900px;
	border:none;
	border:border-box;
	font-family:Amazon Ember;
	font-size:16px;
	align-text:center;
	padding-left:10px;
}

.myContainer{
	display:flex;
	justify-content:space-evenly;
	align-items:center;
}

.searchBox{
	display:flex;
	justify-content:space-evenly;
	align-items:center;
}


.cartLogo{
	display:flex;
	justify-content:center;
	align-items:center;
	height:50px;
	padding-left:5px;
	padding-right:5px;
}


.language{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap:nowrap;
	height:50px;
	border:border-box;
	padding-left:5px;
	padding-right:5px;
}

.signIn{
	height:50px;
	padding-left:5px;
	padding-right:5px;
}

.return{
	height:50px;
	padding-left:5px;
	padding-right:5px;
}

p{
	color:white;
	margin-left:5px;
}


.mininav{
	background-color:#28323D;
	height:40px;
	display:flex;
	justify-content:flex-start;
	align-items:center;
}


.miniNavLogo{
	display:flex;
	justify-content:flex-start;
	align-items:center;
	margin-left:10px;
	margin-right:10px;
	padding-left:5px;
	padding-right:5px;
}


.miniNavTitles{
	padding-left:5px;
	padding-right:5px;
	margin-left:5px;
	margin-right:5px;
}
#miniAll{
	padding-left:5px;
	font-family:Amazon Ember;
	font-weight:bold;
}

.backgroundImg{
	height:500px;
	background-color:pink;
	background-image:url("upperbg.jpg");
	background-size:cover;
}

.left{
	
	height:200px;
	width:50px;
	position:relative;
	top:100px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.right{
	
	height:200px;
	width:50px;
	position:relative;
	top:-100px;
	left:97%;
	display:flex;
	justify-content:center;
	align-items:center;
}

.note{
	margin-left:40px;
	background-color:#f5f6f6;
	display:flex;
	flex-wrap:nowrap;
	justify-content:center;
	align-items:center;
	height:40px;
	width:95%;
}
#bText2{
	font-family:Brandon Grotesque;
	font-weight:500;
	color:black;
}

.bigItemBox{
	background-color:pink;
	height:78%;
	width:90%;
	
}
.bigItem{
	background-color:red;
	height:6%;
	width:90%;
	display:flex;
	justify-content:flex-start;
	align-items:center;
	margin-bottom:20px;
}
.categorys{
	background-color:green;
	display:flex;
	position:relative;
	top:-30px;
	flex-wrap:wrap;
	height:100%;
	width:100%;

}

.subItems{
	background-color:blue;
	height:450px;
	width:380px;
	display:flex;
	flex-wrap:wrap;
	border:2px solid black;
	
	margin:0px 0px 20px 20px;
	justify-content:space-evenly;
	align-items:center;

	position:relative;
	left:25px;
}

.UpTitle{
	display:flex;
	justify-content:flex-start;
	align-items:center;
	height:40px;
	width:90%;
	background-color:black;
	margin-top:5px;
}
.itemBox{
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	height:35%;
	width:90%;
	background-color:orange;	
	margin-bottom:20px;
}
.myItems{
	height:120px;
	width:140px;
	margin-left:0px;
	background-color:red;
	border:2px solid black;
}
.myItemsNames{
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	height:25px;
	width:90%;
	background-color:black;
	position:relative;
	bottom:20px;
}

#firstN{
	margin-right:20px;
}
#secondN{
	margin-right:20px;
}

.longI{
	width:94.5%;
	height:400px;
}
.wideTitle{
	display:flex;
	justify-content:flex-start;
	align-items:center;
	height:40px;
	width:98%;
	background-color:black;
	margin-top:10px;
}
.wideBox{
	height:80%;
	width:98%;
	background-color:gray;
	margin-bottom:15px;
	display:flex;
	justify-content:space-evenly;
	align-items:center;
}
.wideItems{
	background-color:cyan;
	height:85%;
	width:35%;
	margin:0px 8px 0px 8px;
	border:2px solid black;
}

.footerSec{
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:pink;
	height:250px;
}
.innerBox{
	
	background-color:green;
	height:170px;
	width:98%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.innerContainer{
	background-color:pink;
	height:135px;
	width:25%;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
}
.boxes1{
	background-color:blue;
	border:2px dotted black;
	height:25px;
	width:95%;
	display:flex;
	justify-content:center;
	align-items:center;
}

.boxes{
	background-color:blue;
	border:2px dotted black;
	height:40px;
	width:65%;
	border-radius:7px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.backToTop{
	background-color:gray;
	height:80px;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.backBottom1{
	background-color:red;
	height:600px;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.bb1{
	height:450px;
	width:300px;
	background-color:yellow;
	border:2px solid black;
	margin-left:60px;
	margin-right:60px;
}
.backBottom2{
	background-color:blue;
	height:150px;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	
}
.bb2{
	background-color:gray;
	border:2px solid black;
	height:40px;
	width:150px;
	margin-left:20px;
	margin-right:20px;
}
.backBottom3{
	background-color:green;
	height:750px;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
	padding-top:20px;
	padding-bottom:20px;
}
.bb3{
	background-color:yellow;
	height:120px;
	width:230px;
	border:2px solid black;
	margin-left:5px;
	margin-right:5px;
}
.backBottom4{
	background-color:blue;
	height:100px;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.bb4{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
}
.atvisit:hover{
	border-radius:2px;
	border:2px solid white;
}


.selc:hover{
	background-color:#CECECE;
}


#btn:hover{
	background-color:#F2C344;
}


.searchBox:hover{
	border-radius:8px;
	border:2.5px solid #F2C344;
}

.miniNavTitles:hover{
	border:2px solid white;
	border-radius:2px;
	margin:3px 0px 4px 0px;
	padding:8px 9px 8px 9px;
}

.miniNavLogo:hover{
	border:2px solid white;
	border-radius:2px;
	margin:3px 0px 4px 8px;
	padding:6px 9px 6px 6px;
}