*{
	margin:0px;
	padding:0px;
	border:border-box;	
}
a{
	text-decoration:none;
	color:#007185;
}
.smallText{
	font-family:Amazon Ember;
	color:#cccccc;
	font-size:14px;
}
#bText{
	font-family:Amazon Ember;
	font-size:16px;
	font-weight:bold;
}

.navbar{
	height:60px;
	width:100%;
	background-color:rgb(19,25,33);
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	border:border-box;
}

.logo{
	height:30px;
	padding-bottom:10px;
}
.navlogo{
	height:50px;
	width:120px;
	display:flex;
	justify-content:center;
	align-items:center;
	border:border-box;
	margin:5px;

}

.deliveryText{
	margin-left:12px;
}

.delivery{
	height:50px;
	width:100px;
	border:border-box;
	padding-left:5px;
	padding-right:5px;

}

.locationLogo{
	display:flex;
	align-items:center;
	flex-wrap:nowrap;

}
.selc{
	height:40px;
	width:52px;
	border:none;
	background-color:rgb(230,230,230);
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;

}
#btn{
	height:40px;
	width:52px;
	border:none;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	background-color:rgb(254,189,105);
}
.allText{
	text-align:center;
}
#mText{
	font-family:Amazon Ember;
	font-size:14px;
}
.searchBar{
	display:flex;
	border:border-box;
}
#searchE{
	height:40px;
	width:900px;
	border:none;
	border:border-box;
	font-family:Amazon Ember;
	font-size:16px;
	align-text:center;
	padding-left:10px;
}

.myContainer{
	display:flex;
	justify-content:space-evenly;
	align-items:center;
}

.searchBox{
	display:flex;
	justify-content:space-evenly;
	align-items:center;
}


.cartLogo{
	display:flex;
	justify-content:center;
	align-items:center;
	height:50px;
	padding-left:5px;
	padding-right:5px;
}


.language{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap:nowrap;
	height:50px;
	border:border-box;
	padding-left:5px;
	padding-right:5px;
}

.signIn{
	height:50px;
	padding-left:5px;
	padding-right:5px;
}

.return{
	height:50px;
	padding-left:5px;
	padding-right:5px;
}

p{
	color:white;
	margin-left:5px;
}


.mininav{
	background-color:rgb(35,47,62);
	height:40px;
	display:flex;
	justify-content:flex-start;
	align-items:center;
}


.miniNavLogo{
	display:flex;
	justify-content:flex-start;
	align-items:center;
	margin-left:10px;
	margin-right:10px;
	padding-left:5px;
	padding-right:5px;
}


.miniNavTitles{
	padding-left:5px;
	padding-right:5px;
	margin-left:5px;
	margin-right:5px;
}
#miniAll{
	padding-left:5px;
	font-family:Amazon Ember;
	font-weight:bold;
}

.backgroundImg{
	height:500px;
	background-color:pink;
	background-image:url("upperbg.jpg");
	background-size:cover;
}

.left{
	
	height:200px;
	width:50px;
	position:relative;
	top:100px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.right{
	
	height:200px;
	width:50px;
	position:relative;
	top:-100px;
	left:97%;
	display:flex;
	justify-content:center;
	align-items:center;
}

.note{
	margin-left:40px;
	background-color:#f5f6f6;
	display:flex;
	flex-wrap:nowrap;
	justify-content:center;
	align-items:center;
	height:40px;
	width:95%;
}
#bText2{
	font-family:Brandon Grotesque;
	font-weight:500;
	color:black;
}

.bigItemBox{
	background-color:pink;
	height:78%;
	width:90%;
	
}
.bigItem{
	height:6%;
	width:90%;
	display:flex;
	justify-content:flex-start;
	align-items:center;
	margin-bottom:15px;

}
.categorys{
	background-color:rgb(227,230,230);
	display:flex;
	position:relative;
	top:-30px;
	flex-wrap:wrap;
	height:100%;
	width:100%;

}

.subItems{
	background-color:white;
	height:470px;
	width:380px;
	display:flex;
	flex-wrap:wrap;
	margin:0px 0px 20px 20px;
	justify-content:space-evenly;
	align-items:center;
	position:relative;
	left:25px;
	top:10px;
}

.UpTitle{
	display:flex;
	justify-content:flex-start;
	align-items:center;
	height:30px;
	width:90%;
	margin-top:5px;
}
#titleTag{
	font-family:Amazon Ember;
	font-size:23px;
	font-weight:bold;
	color:black
}
.itemBox{
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	height:35%;
	width:90%;
	margin-bottom:5px;

}
.myItems{
	height:140px;
	width:160px;
	margin-left:0px;
}

.myItemsNames{
	display:flex;
	justify-content:space-between;
	align-items:center;
	height:25px;
	width:90%;
	position:relative;
	bottom:22px;

}
.itemNames{
	height:25px;
	width:170px;;
	padding-top:5px;
	padding-left:5px;
}
.seeMore{
	position:relative;
	bottom:20px;
	right:140px;
}
#seeM{
	font-family:Amazon Ember;
	font-size:16px;
	padding-left:5px;
	align-text:center;
	color:#007185;
}
#seeMM{
	font-family:Amazon Ember;
	font-size:14px;
	color:#007185;
}
#firstN{
	font-family:Amazon Ember;
	font-size:14px;
	margin-right:40px;
	color:black;
}
#secondN{
	font-family:Amazon Ember;
	font-size:14px;
	margin-right:40px;
	color:black;
}

.longI{
	width:94.3%;
	height:400px;
}
.wideTitle{
	display:flex;
	justify-content:flex-start;
	align-items:center;
	height:40px;
	width:98%;
	margin-top:10px;
}
.wideBox{
	height:80%;
	width:98%;
	margin-bottom:15px;
	display:flex;
	justify-content:space-evenly;
	align-items:center;
}
.wideItems{
	height:85%;
	width:35%;
	margin:0px 8px 0px 8px;
}

.footerSec{
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:white;
	height:250px;
	
}
.innerBox{
	border-top:1px solid #DDDDDD;
	border-bottom:1px solid #DDDDDD;
	border-left:none;
	border-right:none;
	height:170px;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.innerContainer{
	background-color:white;
	height:100px;
	width:25%;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
}
.boxes1{
	height:25px;
	width:95%;
	display:flex;
	justify-content:center;
	align-items:center;
	
}

.boxes{
	background-color:rgb(255,216,20);
	border:2px solid rgb(235,174,23);
	height:40px;
	width:65%;
	border-radius:7px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.backToTop{
	background-color:rgb(55,71,90);
	height:80px;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.backBottom1{
	background-color:rgb(35,47,62);
	height:450px;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.bb1{
	height:330px;
	width:270px;
	margin-left:30px;
	margin-right:30px;
}
#bT{
	font-family:Amazon Ember;
	font-size:16px;
	color:#cccccc;
	padding-top:8px;
}

.backBottom2{
	background-color:rgb(35,47,62);
	height:150px;
	width:100%;
	display:flex;
	border-top:1px solid #cccccc;
	justify-content:center;
	align-items:center;
	
}
.bb2{
	border:2px solid #cccccc;
	border-radius:5px;
	height:45px;
	width:155px;
	margin-left:20px;
	margin-right:20px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.bb21{
	height:45px;
	width:155px;
	margin-right:100px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.aLogo{
	height:40px;
	width:150px;
}
.globe{
	height:25px;
	width:20px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.eng{
	height:25px;
	width:100px;
	display:flex;
	justify-content:flex-start;
	align-items:center;
	align-text:center;
	padding-bottom:8px;
}
.scroll{
	height:25px;
	width:20px;
	display:flex;
	justify-content:flex-end;
	align-items:center;
}
.backBottom3{
	background-color:rgb(19,26,34);
	height:750px;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
	padding-top:20px;
	padding-bottom:20px;
}
#bPP{
	color:white;
	font-family:Amazon Ember;
	font-size:20px;
	font-weight:bold;
}
.bb3{
	background-color:yellow;
	height:120px;
	width:230px;
	border:2px solid black;
	margin-left:5px;
	margin-right:5px;
}
.backBottom4{
	background-color:rgb(19,26,34);
	height:100px;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.bb4{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
}
.atvisit:hover{
	border-radius:2px;
	border:2px solid white;
}


.selc:hover{
	background-color:#CECECE;
}


#btn:hover{
	background-color:#F2C344;
}


.searchBox:hover{
	border-radius:8px;
	border:2.5px solid #F2C344;
}

.miniNavTitles:hover{
	border:2px solid white;
	border-radius:2px;
	margin:3px 0px 4px 0px;
	padding:8px 9px 8px 9px;
}

.miniNavLogo:hover{
	border:2px solid white;
	border-radius:2px;
	margin:3px 0px 4px 8px;
	padding:6px 9px 6px 6px;
}